In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

import pickle
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [2]:
purchase_data = pd.read_csv('purchase data.csv')
purchase_data.head()

,ID,Day,Incidence,Brand,Quantity,Last_Inc_Brand,Last_Inc_Quantity,Price_1,Price_2,Price_3,...,Promotion_3,Promotion_4,Promotion_5,Sex,Marital status,Age,Education,Income,Occupation,Settlement size
0,200000001,1,0,0,0,0,0,1.59,1.87,2.01,...,0,0,0,0,0,47,1,110866,1,0
1,200000001,11,0,0,0,0,0,1.51,1.89,1.99,...,0,0,0,0,0,47,1,110866,1,0
2,200000001,12,0,0,0,0,0,1.51,1.89,1.99,...,0,0,0,0,0,47,1,110866,1,0
3,200000001,16,0,0,0,0,0,1.52,1.89,1.98,...,0,0,0,0,0,47,1,110866,1,0
4,200000001,18,0,0,0,0,0,1.52,1.89,1.99,...,0,0,0,0,0,47,1,110866,1,0

In [3]:
purchase_data.isnull().sum()

ID                   0
Day                  0
Incidence            0
Brand                0
Quantity             0
Last_Inc_Brand       0
Last_Inc_Quantity    0
Price_1              0
Price_2              0
Price_3              0
Price_4              0
Price_5              0
Promotion_1          0
Promotion_2          0
Promotion_3          0
Promotion_4          0
Promotion_5          0
Sex                  0
Marital status       0
Age                  0
Education            0
Income               0
Occupation           0
Settlement size      0
dtype: int64

### Load trained models

In [4]:
scaler = pickle.load(open('scaler.pickle','rb'))
pca = pickle.load(open('pca.pickle','rb'))
kmeans_pca = pickle.load(open('kmeans_pca.pickle','rb'))

In [5]:
features = purchase_data[['Sex', 'Marital status', 'Age', 'Education', 'Income', 'Occupation',
       'Settlement size']]

In [6]:
df_purchase_std = scaler.transform(features)

In [7]:
df_purchase_pca = pca.transform(df_purchase_std)

In [8]:
purchase_kmeans_pca = kmeans_pca.predict(df_purchase_pca)

In [9]:
df_purchase_predictors = purchase_data.copy()
df_purchase_predictors['Segment'] = purchase_kmeans_pca

In [10]:
df_purchase_predictors.groupby('ID').mean()

,Day,Incidence,Brand,Quantity,Last_Inc_Brand,Last_Inc_Quantity,Price_1,Price_2,Price_3,Price_4,...,Promotion_4,Promotion_5,Sex,Marital status,Age,Education,Income,Occupation,Settlement size,Segment
ID,,,,,,,,,,,,,,,,,,,,,
200000001,333.207921,0.089109,0.267327,0.178218,0.267327,0.089109,1.395149,1.779208,2.008119,2.151188,...,0.148515,0.049505,0.0,0.0,47.0,1.0,110866.0,1.0,0.0,0.0
200000002,350.931034,0.126437,0.482759,0.229885,0.482759,0.126437,1.393678,1.788506,2.007011,2.156437,...,0.160920,0.034483,1.0,1.0,52.0,2.0,159052.0,2.0,1.0,3.0
200000003,358.536082,0.103093,0.268041,0.185567,0.268041,0.103093,1.398763,1.758144,2.005670,2.165464,...,0.123711,0.020619,0.0,0.0,28.0,0.0,113212.0,1.0,0.0,0.0
200000004,369.941176,0.129412,0.611765,0.152941,0.552941,0.117647,1.401059,1.787176,2.011765,2.155882,...,0.141176,0.035294,0.0,0.0,37.0,1.0,119602.0,0.0,0.0,1.0
200000005,362.558559,0.117117,0.585586,0.189189,0.585586,0.117117,1.392342,1.791622,2.005856,2.162883,...,0.117117,0.018018,0.0,0.0,49.0,1.0,121466.0,1.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200000496,357.125000,0.166667,0.441667,0.408333,0.441667,0.166667,1.384083,1.768000,2.009583,2.153333,...,0.133333,0.033333,1.0,1.0,26.0,1.0,71021.0,0.0,0.0,1.0
200000497,349.383333,0.358333,0.950000,2.066667,0.950000,0.358333,1.388000,1.777083,2.005000,2.160167,...,0.141667,0.041667,0.0,0.0,60.0,2.0,89374.0,0.0,0.0,1.0
200000498,346.206107,0.297710,0.641221,0.954198,0.641221,0.297710,1.385191,1.796489,2.006565,2.158550,...,0.091603,0.030534,1.0,1.0,29.0,1.0,114784.0,1.0,0.0,2.0
200000499,350.509434,0.292453,0.698113,0.886792,0.679245,0.283019,1.383962,1.776698,2.006981,2.167925,...,0.103774,0.047170,1.0,0.0,35.0,1.0,73266.0,0.0,0.0,1.0
200000500,363.580645,0.120968,0.225806,0.758065,0.225806,0.120968,1.396452,1.788387,2.008145,2.172177,...,0.129032,0.024194,0.0,0.0,42.0,1.0,120946.0,1.0,0.0,0.0

### Descriptive analysis of customer

In [14]:
#Number of visits to the store per customer
df_cust_vis = purchase_data[['ID','Incidence']].groupby('ID').count()
df_cust_vis.rename(columns= {'Incidence':'Num_visits'},inplace = True)
df_cust_vis

           Num_visits
ID
200000001         101
200000002          87
200000003          97
200000004          85
200000005         111
...               ...
200000496         120
200000497         120
200000498         131
200000499         106
200000500         124

[500 rows x 1 columns]